@import "../app/app.scss";

$custom-grey: rgba(41, 41, 41, 0.75);

.experience-card {
  margin-top: 1rem;
  border-bottom: $borders;

  &:last-child {
    border: none;
    @media (width <= $bp-700) {
      border-bottom: $borders;
    }
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (width <= $bp-700) {
      flex-direction: column;
      align-items: flex-start;
    }

    div {
      display: flex;
      gap: 5px;
      align-items: center;
      p {
        font-size: 0.75rem;
        color: $custom-grey;
      }
    }
  }
}
